body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--textColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #2f254d;
  --orange: #f17529;
  --orangeOpacity: #f8d9c690;
  --textColor: #fff;
  --darktextColor: #1d1d1d;
  --lightGray: #8a8a8a;
  --darkGray: #d2cfcf;
}

body a {
  text-decoration: none;
  color: var(--textColor);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  width: 60%;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  /* border-radius: 4px; */
}
